/**
  Sunny Tian
  2/28/24
  This is the style sheet for my english 208 website.
*/

body {
  width: 90%;
  margin: auto;
  background-color: rgb(239, 150, 220);
  font-family: 'Inter', sans-serif;
}

footer, header {
  font-size: 10pt;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

footer p, header p {
  display: inline;
}