/**
  Sunny Tian
  2/28/24
  This is the style sheet for my english 208 website.
*/

body {
  width: 90%;
  margin: auto;
  background-color: rgb(255, 234, 250);
  text-align: center;
}

body, button {
  font-family: 'Space Grotesk', monospace;
}

h1 {
  font-size: 44pt;
}

header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 14pt;
}

header p {
  display: inline;
}

button {
  background: none;
  border: none;
  text-decoration: underline;
}

#next {
  padding-bottom: 4em;
  position: absolute;
  bottom: 0;
  left: 47%;
}

.hidden {
  display: none;
}